{require_min_otp_vsn, "17"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{sub_dirs, ["deps"]}.

{deps,
 [{dobby_oflib, ".", {git, "https://github.com/ivanos/dobby_oflib.git",
                      {branch, "master"}}}
  %% Depend on of_msg_lib 0.3, for implicit prerequisite match fields
  %% when matching with masks.
 ,{of_msg_lib, "^0\\.[3-9]",
   {git, "https://github.com/FlowForwarding/of_msg_lib.git", {branch, "master"}}}
 ]}.

{cover_enabled, true}.
